/** General 

Color
#45abe9 Blue
#f29e33 Orange
#d863a0 Pink
#b0c926 Green-Acid
#64c0a8 Green Water
#64c0a8 Purple
#f6f8f9 Grey

**/

/** Font Style 

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

**/

/** Reset **/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/** General **/

body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #f6f8f9;
}

header {

    background-color: #ffffff;
}

/** Header **/

header img {
    vertical-align: middle;
    padding-left: 10px;
}

h1 {
    vertical-align: middle;
    padding-left: 10px;
    display: inline-block;
    font-size: 45px;
}


/** Main **/

main{
    padding-top: 60px;
}

.main-container {
    height: 900px;
    width: 80%;
    margin: auto;
    background-color: white;
}

.buttons {
   padding: 20px 90px;
    border-bottom: 1px solid #f6f8f9;
}

/** Buttons Color **/
.buttons-blue {
    color: white;
    background-color: #45abe9;
    border: #45abe9;
    border-radius: 10px;
    padding: 10px 18px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

.buttons-white {
    color: #e2e2e2;
    background-color: #ffffff;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    padding: 10px 18px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    ;
}

.buttons-purple {
    color: #f6f8f9;
    background-color: #9c72e4;
    border: #f6f8f9;
    border-radius: 15px;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
}

.buttons-green-water {
    color: #f6f8f9;
    background-color: #64c0a8;
    border: #f6f8f9;
    border-radius: 15px;
    padding: 5px 18px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
}

.buttons-orange {
    color: #f6f8f9;
    background-color: #f29e33;
    border: #f6f8f9;
    border-radius: 15px;
    padding: 5px 18px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
}

.buttons-pink {
    color: #f6f8f9;
    background-color: #d863a0;
    border: #f6f8f9;
    border-radius: 15px;
    padding: 5px 18px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
}

.buttons-green-acid {
    color: #f6f8f9;
    background-color: #b0c926;
    border: #f6f8f9;
    border-radius: 15px;
    padding: 5px 18px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
}

.buttons-blue-list {
    color: white;
    background-color: #45abe9;
    font-size: 15px;
    border: #45abe9;
    border-radius: 15px;
    padding: 5px 18px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
}

.v {
    color: #00ff0d;
    background-color: #ffffff;
    border: 1px solid #00ff0d;
    border-radius: 100%;
    padding: 5px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
}

.x {
    color: #ff0000;
    background-color: #ffffff;
    border: 1px solid #ff0000;
    border-radius: 100%;
    padding: 5px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
}

.lista{
    padding: 90px;
}

li{
    padding: 10px;
}

section{
    padding-bottom: 30px;
}
