/** General 

Color
#45abe9 Blue
#f29e33 Orange
#d863a0 Pink
#b0c926 Green-Acid
#64c0a8 Green Water
#64c0a8 Purple
#f6f8f9 Grey

**/

/** Font Style 

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

**/

/** Reset **/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/** General **/

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #dadada;
}

header {
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}

/** Header **/

header img {
    vertical-align: middle;
    padding-left: 10px;
}

h1 {
    vertical-align: middle;
    padding-left: 10px;
    display: inline-block;
    font-size: 45px;
}


/** Main **/

.main-container{

    width: 800px;
    border: 1px solid black;
    margin: auto;
    background-color: white;
}

/** Buttons Color **/
.buttons-blue {
    color: white;
    background-color: #45abe9;
    font-size: 15px;
    border: #45abe9;
    border-radius: 15px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
}

.buttons-white {
    color: #f6f8f9;
    background-color: #45abe9;
    border: #f6f8f9;
    border-radius: 15px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    ;
}

.buttons-purple {
    color: #f6f8f9;
    background-color: #9c72e4;
    border: #f6f8f9;
    border-radius: 15px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
}

.buttons-green-water {
    color: #f6f8f9;
    background-color: #64c0a8;
    border: #f6f8f9;
    border-radius: 15px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
}

.buttons-orange {
    color: #f6f8f9;
    background-color: #f29e33;
    border: #f6f8f9;
    border-radius: 15px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
}

.buttons-pink {
    color: #f6f8f9;
    background-color: #d863a0;
    border: #f6f8f9;
    border-radius: 15px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
}

.buttons-green-acid {
    color: #f6f8f9;
    background-color: #b0c926;
    border: #f6f8f9;
    border-radius: 15px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
}

